body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 16px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */

.dropdown .dropdown-menu {
  animation: dropdown-animation 0.3s ease-out;
  background-color: #F5F5F5; 
  width: 800px;
  right: -300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  align-items: start;
  overflow: hidden;
}

.dropdown .vertical-dropdown {
  right: 0px;
  width: 160px;
}


/* Dropdown animation */

@keyframes dropdown-animation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.dropdown .dropdown-menu > li {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}




.dropdown .dropdown-menu .services-offered {
  
  position:static;
  
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
  color: #333;
  text-align: left;
  display: block;
}

.dropdown .vertical-dropdown .contact-info{
  padding: 10px 10px;
}


.dropdown .dropdown-menu .services-offered > h3 {
  text-align: left;
  
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown .dropdown-menu .services-offered .services1 > li{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px 10px ;
  transition: all 0.3s;
  color: #333;
  text-align: left;
  display: block;
  white-space: nowrap;

}

/* Dropdown item text color */
.dropdown .dropdown-menu .services-offered .services1> li > a {
  color: #333; /* Match the text color of the navigation */
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px;
  padding-right: 100px;
  transition: all 0.3s;
  border-radius: 5px;
}

/* Dropdown item hover background color */
.dropdown .dropdown-menu .services-offered .services1> li > a:hover,
.dropdown .dropdown-menu .services-offered .services1 > li > a:focus {
  background-color: #608dfd; /* Match the hover background color */
  color: #fff;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}


.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown .caret {
  margin-top: -8px;
  position: relative;
  display: inline-block;
  border-bottom-color: #333;
  border-top-color: #333;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  transition: transform 0.3s ease;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid black;
  border-top: 6px solid transparent;
  content: "";
  
  
}

.dropdown:hover .caret {
  margin-top: 5px;
  transform: rotate(180deg);
}


#menu {
  padding-top: 5px;
  padding-bottom: 6px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: #F5F5F5;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  
}
/* for logo image*/
#menu.navbar-default img {
  max-width: 150px; 
  margin-top: 12px;
  height: auto;
}

#menu a.navbar-brand{
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  padding: 9px 2px;
  border-radius: 0;
  margin: 10px 10px 0;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 18px 36px;
  letter-spacing: 1px;
  margin: 0;
  margin-top: -30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #6372ff;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
.social {
  border-top: 1px solid rgba(20, 35, 167, 0.15);
  text-align: center;
  
  margin: -6px 0px;
  margin-left: 5px;
}

.social a {
  margin: 5px 10px 0px !important;
}

.social i.fa {
  font-size: 15px;
  width: 40px;
  height: 40px;
  padding: 12px 0;
  border: 2px solid #124fea;
  color: #0f58e0;
  border-radius: 50%;
  transition: all 0.3s;
}
.social i.fa:hover {
  color: #608dfd;
  background: #fff;
}



/* Header Section */
.intro-bg{
  position: relative;
  background-color: #C0C0C0;
  background-shadow: 5px 5px 50px black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro {
  display: table;
  width: 100%;
  /* margin-left: 150px; */
  padding: 0;
  background: url(../img/header_img.jpg) center center no-repeat;
  background-color: #CECECE;
  background-shadow: 5px 5px 50px black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);

}
.intro h1 {
  font-family: "Andale Mono", sans-serif;
  color: #F5F5F5;
  font-size: 80px;
  font-weight: 100;
  padding-bottom: 40px;
  /* text-transform: uppercase; */
  margin-top: 50px;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 600;
  color: #5ca9fb;
}
.intro p {
  color: #fff;
  font-family: "Andale Mono", sans-serif;
  font-size: 16px;
  text-style: bold;
  font-weight: 100;
  line-height: 20px;
  margin: 0 auto;
  /* margin-left: 400px; */
  /* margin-right: 10px: */
  /* margin-bottom: 60px; */
}


.intro .slogan{
  margin-right: 20px;
  text-align: right;
  margin-top: -40px;
  padding-bottom: 10px;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
/* Features Section */
#features {
  background: #BDEDFF;
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 25px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
/* About Section */
#about {
  
  padding: 100px 0;
  background: #F5F5F5;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text {
  
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#about .about-text .why-item{
  margin-right: 5px; /* Adjust the margin as needed */
  display: flex;
  align-items: center;
}
#about .about-text  i {
  color: #5ca9fb;
  font-size: 20px;
  margin-right: 30px;
  
}
/* #about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
} */
#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  font-family: 'IBM Plex Sans', sans-serif;
  /* text-align: justify; */
  /* padding-right: 75px; */
  font-size: 28px;
  line-height: 50px;
  margin: 10px 0;
}

#about a {
  font-size: 22px;
  color: #023caf ;
  
}

.carousel{
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
.carousel .clienth {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.carousel .client {
  height: 10px;
  width: 90vw;
  border-radius: 5px;
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
}

.carousel img{
  aspect-ratio: 3/1;
  object-fit:contain;
  mix-blend-mode:color;
  padding: 0 10px;
  width: 15vw;
  height: 15vh;
  padding: 0 10px;
  
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);

}

/* Services Section */
#services {
  padding: 100px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: #fff;
}
#services .service-desc {
  margin: 10px 10px 20px;
}
#services h2 {
  color: #fff;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#services p {
  color: rgba(255, 255, 255, 0.75);
}
#services .service-desc {
  margin-bottom: 40px;
}

/* Contact Section - Links excluded */

#contact {
  padding: 20px 0 20px;
  background-color: #004EAF;
  color: rgba(255, 255, 255, 0.75);
}
#contact .section-title {
  margin-bottom: 20px;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px;
  padding-left: 0px;
  padding-right: 95px;
  margin-left: 60px;
}
#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
/* #contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
} */
/* Footer Section*/
#footer {
  background: #DADBDD;
  padding: 2px 0;
  box-shadow: 2px 0 2px #686A6C;
}
#footer p {
  color: #0C090A;
  font-size: 14px;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}
@media (max-width: 768px) {
  #about .about-text {
    margin: 0;
  }
}
@media(max-width:512px){
  .about{
    align-items: center;
    width: 100%;
  }
  #about img {
    width: 100%;
    
  }
}
@media(max-width:300px){
  .about{
    width: 100%;
  }
}

/*Sub-components*/
/*buisnesstransformation*/
#buisnesstransformation{
  text-align: center;
  padding: 100px 0;
  
}

/*Consulting*/
#consulting{
  text-align: center;
  padding: 100px 0;
  
}

/*Augmentation*/
#augmentation{
  text-align: center;
  padding: 100px 0;
  
}

/*Ats*/
#ats{
  text-align: center;
  padding: 100px 0;
  
}

/*Hrms*/
#hrms{
  text-align: center;
  padding: 100px 0;
  
}

/*Vms*/
#vms{
  text-align: center;
  padding: 100px 0;
  
}

/*Careers page*/


#careers{
  text-align: center;
  padding: 100px 0;
  height: 100vh;
  
}
.careers-top{
  padding-top: 20px;
  padding-bottom: 30px;
  background: #F5F5F5;

}
.careers-top h1{
  color: #000;
  padding-bottom: 10px;
}
.career-banner {
  display: flex;
  align-items: center; /* Align items vertically */
}

.career-img {
  flex: 2; /* Image takes up 1/3 of the space */
}

.careers-top-content {
  flex: 2; /* Text takes up 2/3 of the space */
  padding: 0 20px; /* Add some padding to the text content */
}

.career-img img {
  width: 50%;
  height: auto;
}

#careers .sidebar {
  width: 25%;
  padding: 90px 0;
  position: sticky;
  top: 0;
  height: 90vh;
  overflow-y: auto;
}

#careers .sidebar ul {
  text-align: left;
  list-style: none;
  padding: 1rem;
}

#careers .sidebar li {
  padding: 2rem;
  list-style-type: none;
}

#careers .sidebar li a {
  border-left: 3px solid #333;
  text-decoration: none;
  padding: 2rem;
  font-size: 14pt;
  transition: border-left-color 0.3s ease-in-out;
}

#careers .sidebar li a:hover {
  border-left-color: #999;
}

#careers .content-wrapper {
  display: flex;
  margin-top: 2rem;
}

#careers main {
  position: relative;
  
  right: 0;
  width: 70%;
  flex-grow: 1;
  padding: 2rem;
}
/* Responsive Styles */

@media (max-width: 991px) {
  #careers .sidebar {
    width: 30%;
  }

  #careers main {
    width: 70%;
  }
}

@media (max-width: 768px) {
  
  #careers .content-wrapper {
    flex-direction: column;
  }

  #careers .sidebar {
    width: 100%;
    position: static;
    height: auto;
  }

  #careers .sidebar ul {
    padding: 25px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
  }

  #careers .sidebar li {
    margin: 0.5rem;
    border: none;
    padding: 1rem;
  }

  #careers .sidebar li a {
    padding: 1rem;
    font-size: 12pt;
  }

  #careers main {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  #careers .sidebar{
    display: none;
  }
  #overview {
    margin: 0 10px;
    padding-top: 20px
  }
  #working{
    padding-top: 30px;
  }
  .working-navbar ul {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .working-navbar li {
    display: inline-block;
    margin: 0.5rem;
  }
  
}


/*internal job page*/

#internal-job{
  max-width: 100%;
  margin: 0 40px;
  text-align: center;
  padding: 100px 0;
  
}

#internal-form{
  border-radius: 20px;
  background-color: #000;
  padding: 100px 50px;
  margin: 0 auto;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */

}

#internal-form h2{
  color: #fff;
}

#internal-form .form-group {
  margin-bottom: 20px;
}

#internal-form .form-control {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ced4da;
}

#internal-form .btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}


/*Info page*/
#info {
  padding-top: 70px;
  max-width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #ffffff 60%, #E5E4E2 60%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

#info .heading {
  justify-content: space-evenly;
  text-align: justify;
  font-size: 10px;
  margin-top: 170px;
  left: 0;
  width: 50%;
  
  color: #007bff; /* Blue heading color */
  
}

#info .text {
  color: #0C090A;
  font-size: 3rem;
  padding-right: 20px;
  text-align: right;
}

#info .text2{
  color: #0C090A;
  font-size: 20px;
  text-align: right;
  padding-right: 20px;
}

#info form {
  padding-left: 90px;
  left: 0;
  width: 60%;
  text-align: center;
  
  padding-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#info label {
  
  padding-top:10px ;
  
  font-size: 16px;
  
  
  margin-bottom: 5px;
  color: #333; /* Dark grey label color */
}

#info input[type="text"],
#info input[type="email"],
#info button {
  margin-left: 10px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#info button {
  margin-left: 50px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#info button:hover {
  background-color: #0056b3;
}

#info .download-info{
  display: flex;
  flex-direction: column;
  padding-left: 160px;
  left:0;
  width: 60%;
  align-items: center;
}

#info a#download-link {
  margin: 10px ;
  font-size: 16px;
  border: 1px solid #007bff;
  color: #fff;
  background-color: #007bff;
  display: none;
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#info a#download-link:hover {
  background-color: #0056b3;
}

#info #logo-right{
  padding-top: 100px;
  top: 0;
  height: 100%;
  position: absolute;
  right: 0;
  width: 40%;
}

#info .headline{
  padding-top: 22vh;
  font-weight: 600;
  color: #004EAF;
  font-size: 4rem;
  text-align: center;
}
#info .sub-headline{
  
  font-weight: 600;
  color: #004EAF;
  font-size: 2rem;
  
  text-align: center;

}

#info #footer{
  width: 100%;
  bottom: 0;
  position: fixed;
}

@media screen and (max-width: 475px){
  #info .heading {
    text-align: center;
 }

  #info .text{
    text-align: justify;
    justify-content: center;
    padding-left: 35px;
    padding-right: 10px;
    font-size: 2.2rem;
  }

  #info .text2{
    padding-left: 35px;
    text-align: justify;
    justify-content: center;
    padding-right: 10px;
    font-size: 1.5rem;
  }
 
  #info form {
    
    padding: 0 20px;
  }

  #info label {
    padding-top: 0px;
    padding-bottom: 5px;
    font-size: 1.5rem;
  }

  #info input[type="text"],
  #info input[type="email"]{
    
    font-size: 7px;
  }

  #info .download-info{
    padding: 0 20px;
  }

  #info .button{
    margin-left: 0;
  }

  #info .headline{
    font-size: 2rem;
  }

  #info .sub-headline{
    font-size: 1rem;
  }
}

/* Location  page*/
/*blue color 608dfd */

#location{
  width: 98.9vw;
  background-color: #E5E4E2;
  margin-top: 20px;
  margin-right: -20px ;
 padding: 100px;
 display: block;
  justify-content: space-between;
}

#location-main-container{
  /* background-color: #E5E4E2; */
  display: flex;
  flex-wrap: wrap;
}


#address{
  
  width: 50%;
}



#address-section {
  padding: 20px;
}

#map-section {
  padding: 25px;
}



#location-form {
  
  margin-top: 275px;
  padding: 20px 20px;
  height: 80vh;
  width: 50%;
  position: fixed;
  left: 75%; /* Adjust as needed to center horizontally */
  max-width: 600px;
  transform: translate(-55%, -53%);   /* -52 could be ranged between -50 and -53*/
  background-color:  #004EAF; /*Logo color*/
  border-radius: 12px;
}

#location-form h2 {
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}




#location-form .form-control {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
 
  border: 2px solid #ced4da;
}


.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}









@media (max-width: 991px) {
  #address,
  #location-form {
    width: 45%;
  }
  .map-iframe{
    width: 100%;
    height: 20%;
  }

}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  #location-main-container {
    display: flex;
    flex-direction: column;
  }
  
  #address,
  #location-form {
    width: 100%;
  }

  #address {
    height: auto; /* Let the content dictate the height */
  }

  #location-form {
    left: 0;
    margin-top: 20px; /* Adjust as needed */
    position: relative;
    
    height: auto;
    transform: none; /* Remove the translation */
  }
  .map-iframe{
    width: 100%;
    height: 100%;
  }

  #location-form .form-control {
    font-size: 16px; /* Decrease font size for smaller screens */
  }
}

/* Additional adjustments for even smaller screens */
@media (max-width: 480px) {
  #location-main-container {
    padding: 20px; /* Add some padding for better spacing */
  }

  #location {
    width: 160vw;
    padding: 20px; /* Add padding to the entire section */
  }

  #location-form {
    margin-top: 20px; /* Adjust margin top as needed */
  }
  .map-iframe{
    width: 100%;
    height: 100%;
  }
}


/* Location  page over*/


/*Strategyz info page*/

/* Strategyzinfo Section */
.Strategyz_info {
  padding-top: 50px;
  text-align: center;
}

.Strategyz_info header {
  background-color: #333;
  color: #fff;
  padding: 2rem;
}

.Strategyz_info .content-wrapper {
  display: flex;
  margin-top: 2rem;
}

.Strategyz_info .sidebar {
  width: 25%;
  padding: 90px 0;
  position: sticky;
  top: 0;
  height: 90vh;
  overflow-y: auto;
}

.Strategyz_info .sidebar ul {
  text-align: left;
  list-style: none;
  padding: 1rem;
}

.Strategyz_info .sidebar li {
  padding: 2rem;
  list-style-type: none;
}

.Strategyz_info .sidebar li a {
  border-left: 3px solid #333;
  text-decoration: none;
  padding: 2rem;
  font-size: 14pt;
  transition: border-left-color 0.3s ease-in-out;
}

.Strategyz_info .sidebar li a:hover {
  border-left-color: #999;
}

.Strategyz_info main {
  right: 0;
  width: 70%;
  flex-grow: 1;
  padding: 2rem;
}

#overview{
  text-align: center;
  margin: 0 30px;
  padding-top: 80px;
  
}

#overview > p {
  font-size: 14pt;
}

#working{
  padding-top: 80px;
}

.working-navbar {
  display: flex;
  margin-top: 1rem;
}

.working-navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.working-navbar li {
  font-size: 14pt;
  border-bottom: 2px solid blue;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 2rem;
  margin: 0 3rem;
  cursor: pointer;
  border-radius: 3px;
}

.working-navbar a {
  text-decoration: none;
  color: #333;
}

.working-navbar a:hover {
  cursor: pointer;
  color: #000;
}

.working-navbar a.active {
  font-weight: bold;
  color: #000;
}

#working-navbar-content {
  margin-right: 40px;
  padding-left: 30px;
  text-align: left;

}

#working-navbar-content > h3 {
  padding: 1rem;
  font-size: 20pt;
}

#working-navbar-content > p {
  padding-left: 10px;
  font-size: 14pt;
}

#working-navbar-content > ul {
  padding: 10px 30px;
  font-size: 14pt;
  list-style:disc;
}

#working-navbar-content > ul > li {
  padding: 5px;
}

.job-container {
  display: flex;
  flex-wrap: wrap;
}

.job-card {
  flex: 0 0 calc(33.333% - 20px); /* 33.333% - 20px is for 3 cards in a row with some margin */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.job-card h4 {
  margin-top: 0;
}

.job-card p {
  margin-bottom: 10px;
}

.job-card a {
  text-decoration: none;
  color: #007bff; /* or any other color you prefer */
}

.job-card a:hover {
  text-decoration: underline;
}


/* Responsive Styles */

@media (max-width: 991px) {
  .Strategyz_info .sidebar {
    width: 30%;
  }

  .Strategyz_info main {
    width: 70%;
  }
}

@media (max-width: 768px) {
  #working img{
    width: 100%;
  }
  .Strategyz_info .content-wrapper {
    flex-direction: column;
  }

  .Strategyz_info .sidebar {
    width: 100%;
    position: static;
    height: auto;
  }

  .Strategyz_info .sidebar ul {
    padding: 25px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
  }

  .Strategyz_info .sidebar li {
    margin: 0.5rem;
    border: none;
    padding: 1rem;
  }

  .Strategyz_info .sidebar li a {
    padding: 1rem;
    font-size: 12pt;
  }

  .Strategyz_info main {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .Strategyz_info .sidebar{
    display: none;
  }
  

  #overview {
    margin: 0 10px;
    padding-top: 20px
  }

  #working{
    padding-top: 30px;
  }

  

  .working-navbar ul {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .working-navbar li {
    display: inline-block;
    
    margin: 0.5rem;
  }
  #working img{
    width: 100%;
  }
}
/*Clients section strategyzinfoPage*/
#clients .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#clients .flex-container .box img{
  width: 100%; 
  display: flex;
  justify-content: center;
}

#clients .flex-container .box  {
  width: 20rem;
  height: 20rem;
  padding: 3rem 4rem;
  background-color: #d2dab7;
  margin: 4%;
  border: 1px solid #eaebe5;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


#clients .flex-container .box  {
  width: 20rem;
  height: 20rem;
  margin: 0%;
  background-color: #ffffff;
  border: 1px solid #eaebe5;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
 
}

#clients .box:hover {
  border-color:white;
  transition: transform 0.3s linear;
  transform :scale(1);
  box-shadow: 0 0 10px rgba(0, 6, 6, 0.5); 

}


  

